	# 
	# simple asm file to include the P2 JIT compiler
	#
	.section .interp, "a"
	.globl _interpstart
_interpstart:	
	.incbin "%BINFILE%"

	.text
	.globl	_riscv_start
_riscv_start:
	j	_start
	
	.globl _sbrk
	.globl _end
_sbrk:
	la	t1, _heap_ptr
	lw	t2, 0(t1)
	bne	x0,t2,skipset
	la	t2, _end
skipset:
	mv	a0, t2
	add	t2, a0, t2
	sw	t2, 0(t1)
	ret

	.data
_heap_ptr:	
	.long	0
